@import "nullstyle.scss";

@font-face {
   font-family: "Monstserrat";
   font-style: normal;
   font-weight: 400;
   src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
   src: url("/fonts/Montserrat-Regular.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Monstserrat";
   font-style: normal;
   font-weight: 700;
   src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
   src: url("/fonts/Montserrat-Bold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Monstserrat";
   font-style: italic;
   font-weight: 400;
   src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
   src: url("/fonts/Montserrat-Italic.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Monstserrat";
   font-style: italic;
   font-weight: 700;
   src: url("/fonts/Montserrat-BoldItalic.woff2") format("woff2");
   src: url("/fonts/Montserrat-BoldItalic.woff") format("woff");
   font-display: swap;
}

body {
   font-family: "Montserrat", "Arial", sans-serif;
}

.header {
   background-color: #c6c6c6;
   &__navigation {
      display: flex;
      margin: 0 auto;
      width: 1080px;
   }

   &__logo-link {
      margin: 0 50px 0 0;
   }

   &__logo-image {
      max-height: 40px;
      width: auto;
   }

   &__navigation-list {
      display: flex;
      align-items: center;
   }

   &__navigation-item {
   }

   &__navigation-link {
      margin: 0 5px 0 0;
      padding: 10px 25px;
      &:hover {
         background-color: #97ce68;
      }
   }

   &__social-list {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
   }

   &__social-item {
      width: 25px;
      height: 25px;
      background-color: #97ce68;
   }

   &__social-link {
   }
}