* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Monstserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Monstserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Monstserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
  src: url("/fonts/Montserrat-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Monstserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Montserrat-BoldItalic.woff2") format("woff2");
  src: url("/fonts/Montserrat-BoldItalic.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
}

.header {
  background-color: #c6c6c6;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1080px;
}

.header__logo-link {
  margin: 0 50px 0 0;
}

.header__logo-image {
  max-height: 40px;
  width: auto;
}

.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-link {
  margin: 0 5px 0 0;
  padding: 10px 25px;
}

.header__navigation-link:hover {
  background-color: #97ce68;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

.header__social-item {
  width: 25px;
  height: 25px;
  background-color: #97ce68;
}
